@font-face {
    font-family: "Proxima Nova";
    src:
        url("../styles/fonts/ProximaNova-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src:
        url("../styles/fonts/PlayfairDisplay-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("../styles/fonts/ProximaNova-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("../styles/fonts/ProximaNova-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: "Proxima Nova", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #31323C;
    min-width: min-content;
    
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}

a {
    text-decoration: none;

    color: #000;

}

* {
    box-sizing: border-box;
}



ul {
    list-style-type: none;
}

.caption {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.125em;


}

.page-title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.125em;

    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 0;

}

/* Внутренняя навигация по страницам */
.navigation-page {
    margin-top: 0;
    margin-bottom: 60px;
}

.navigation-page__list {
    display: flex;
    margin: 0;
    padding: 0;
    color: #E5E5E5;
}

.navigation-page__item {
    margin-right: 10px;
}

.navigation-page__item--color {
    margin-right: 15px;
}

.navigation-page__item--color:last-child {
    margin-right: 0;
}

.navigation-page__link {
    color: #7A1E1E;
}

/* главная страница */

.page-header__logo-img {
    display: block;
}

.page-header__wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.page-header__wrap-content-nav {
    margin: 0 auto;

}

.page-header__wrap-content-nav-list {
    display: flex;
    padding: 0;
    margin: 0;

}

.page-header__wrap-contentn-nav-item {
    margin-right: 30px;

}

.page-header__wrap-contentn-nav-item:last-child {
    margin: 0;
}

.page-header__wrap-content-nav-link {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #31323C;

}

.page-header__user-nav-button {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #31323C;
    background: transparent;
    border: transparent;

    display: flex;
    align-items: baseline;
    margin-right: 10px;
    padding: 0px;
}

.page-header__user-nav-cart {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #31323C;
    background: transparent;
    border: transparent;

    display: flex;
    align-items: center;
}

.page-header__user-nav {
    display: flex;
}

.page-header__user-nav-button span {
    margin-right: 10px;
}

.page-header__user-nav-cart span {
    margin-right: 10px;
}

.page-header--shadow {
    box-shadow: 0px 10px 25px 0px #E6F2F640;
    margin-bottom: 39px;

}

.promo {
    background-image: url("../img/banner.jpg");
    height: 515px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
    display: flex;
    align-items: flex-end;

}

.promo__title {
    margin: 0 auto;
    width: 50%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
}


.advantages__list {
    display: flex;
    justify-content: center;
}

.advantages {
    margin-bottom: 68px;
}

.advantages__item {
    width: 400px;
    text-align: center;
}

.advantages__item-text {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;
    letter-spacing: 0.125em;
}

.popular-category {
    margin-bottom: 160.5px;
}

.popular-category__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.popular-category__item {
    position: relative;
    margin-right: 20px;

}

.popular-category__item:last-child {
    margin-right: 0;
}

.popular-category__text {
    position: absolute;
    width: 246px;
    height: 96px;
    bottom: 0;
    left: 168px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.new-products {
    margin-bottom: 197px;
}

.new-products__title {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.new-products__list {
    display: flex;
    justify-content: center;

}

.new-product {
    margin-right: 67px;
    text-align: center;
    display: flex;

}

.new-product:last-child {
    margin-right: 0;
}

.product__price {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    margin-top: 0;
    margin-bottom: 10px;

    letter-spacing: 0.125em;

    color: #31323C;
}

.product__img {
    margin-bottom: 25px;
}

.product__name {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    margin-top: 0;
    margin-bottom: 15px;

    text-align: center;
    letter-spacing: 0.125em;


    color: #31323C;
}

.product__sizes {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 0.125em;

    color: #969696;

}

/* Footer */

.page-footer {
    background: #211E1E;

}

.page-footer__wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;

    color: #fff;
}

.page-footer__wrap-list {
    display: flex;
    margin-bottom: 40px;

}

.page-footer__nav-list {
    margin-right: 120px;
    padding: 0;

    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.page-footer__nav-item {
    margin-bottom: 20px;
}

.page-footer__nav-item:last-child {
    margin-bottom: 0;
}

.page-footer__nav-link {
    font-family: "Proxima Nova", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

.page-footer__logo-img {
    display: block;
}
.page-footer__logo-wrap {
    display: block;
    margin-bottom: 29px;
}
.page-footer__contacts {
    background: #252323;
    width: 550px;
    height: 250px;
}

.page-footer__connection {
    margin: 50px 70px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.page-footer__connection p {
    margin-top: 0;
}

.page-footer__connection p:last-child {
    margin-bottom: 0;
}

.page-footer__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 19px;

}

.page-footer__link {
    color: #fff;
}

.page-footer__socials-link {
    margin-right: 15px;
}

.page-footer__socials-link:last-child {
    margin-right: 0;
}

/* Страница - Доставка*/


.delivery {
    margin-bottom: 160px;
}

.delivery-info {
    display: flex;
    justify-content: center;

}

.delivery-info__text {
    width: 740px;

    font-family: "Proxima Nova";
    font-style: normal;
    font-size: 16px;
    line-height: 17px;

}

.delivery-info__text p {
    margin-top: 0;
}

.delivery-info__text p:last-child {
    margin-bottom: 0;

}

/* Страница - Платья */

.card-pruduct__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.card-pruduct__navigation-text {

    vertical-align: top;
    text-align: left;
    padding-right: 35px;
    padding-top: 18px;
    padding-bottom: 19px;

    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    color: #31323C;

}

.card-pruduct__navigation-text:last-child {
    padding-right: 0;
}

.card-pruduct__navigation-table {
    border-collapse: collapse;
    border-bottom: 1px solid #F2E8E8;
    border-top: 1px solid #F2E8E8;
    width: 429px;
}

.card-pruduct__navigation-table-coll {
    display: flex;
    justify-content: center;
}

.card-pruduct__navigation-select {
    color: #31323C;
    border: none;
    width: 20px;
    cursor: pointer;
}

.card-pruduct__navigation__select:hover {
    border-color: none;
}

.card-pruduct__navigation__select option {
    color: #7A1E1E;

}

.products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    justify-content: space-between;
    margin-bottom: 160px;
    text-align: center;
}


/* Страница - Product-cart*/

.product-card {
    display: flex;
    margin-bottom: 80px;

}

.product-card__list {
    display: flex;
    flex-direction: column;
}

.product-card__list-img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-card__list-img:last-child {
    margin-bottom: 0;
}

.product-card__img {
    margin-right: 60px;
}

.product-card__set {
    margin: 0;
}

.product-card__title {
    margin-top: 0;
    margin-bottom: 55px;

    font-family: "Playfair Display";
    font-style: 400;
    font-size: 36px;
    line-height: 43px;


    letter-spacing: 12.5%;
}

.product-card__text {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-card__text-color {
    margin-top: 0;
    margin-bottom: 35px;
}

.text-grey {
    color: #848484;
}

.product-card__form-input-wrap {
    margin-bottom: 10px;
    
}

.product-card__input-radio {
    cursor: pointer;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
}

.product-card__form-input-radio:last-child {
    margin-right: 0;
}

.product-card__form-input-radio {
    display: inline-block;
    margin-right: 10px;

}

.product-card__input-real-radio {
    width: 57px;
    height: 35px;
    position: absolute;
    opacity: 0;
}

.product-card__input-custom-radio {

    position: relative;

    display: inline-block;
    width: 57px;
    height: 35px;
    background-color: #F2E8E8;
   
    
    font-size: 14px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;

}
 
.product-card__input-custom-radio::before {
    content: '';

    display: inline-block;
    width: 57px;
    height: 35px;
    border: 1px solid #7A1E1E;
    


    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) ;
    transition: 0.2s ease-in;
    display:none;

 }

.product-card__input-real-radio:checked + .product-card__input-custom-radio::before {
    display:block;
  
} 

.product-card__size-text-link {
    margin-top: 0;
    margin-bottom: 43px;
}

.product-card__size-link {
    color: #7A1E1E;
    text-decoration: underline #7A1E1E;
}

.product-card__price {
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 24px;
    color: #31323C;

    margin-top: 0;
    margin-bottom: 42px;

}

.product-card__size-text-link-terms {
    margin: 0;
}

.product-card__size-btn {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;

    width: 360px;
    height: 67px;
    background: #7A1E1E;
    border: transparent;
    color: #fff;

    margin-top: 0;
    margin-bottom: 30px;

}

/* Страница Оформления заказа */

.order-registration {
    display: flex;
    margin-bottom: 160px;


}

.order-registration__delivery {
    display: flex;
    margin: 0;
    padding: 0;
}

.order-registration__form {
    width: 645px;
    height: 550px;
    border: 1px solid #F2E8E8;

    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 35px;
    margin-right: 61px;

}

.order-registration__info-delivery-user {
    display: flex;
    flex-direction: column;
}


.order-registration__caption {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
}

.order-registration__title {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
}

.order-registration__delivery {
    margin-bottom: 40px;
}

.order-registration__delivery-list {
    display: inline-block;
    margin-right: 30px;

}
.order-registration__delivery-list:last-child {
    margin-right: 0;
}

.order-registration__delivery-input__radio {
    cursor: pointer;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
}


.form-input__radio:last-child {
    margin-right: 0;
}

.order-registration__delivery-list-real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.order-registration__delivery-list-custom-radio {

    position: relative;

    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border: 1px solid #7A1E1E;
    margin-right: 5px;
    vertical-align: text-top;

}

.order-registration__delivery-list-custom-radio::before {
    content: '';

    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #7A1E1E;


    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    /* display:none; */

 }

.order-registration__delivery-list-real-radio:checked+.order-registration__delivery-list-custom-radio::before {
    /* display:block; */
    transform: translate(-50%, -50%) scale(1);
} 

.order-registration__input {
    width: 585px;
    height: 52px;
    outline: 1px solid #F2E8E8;
    border: transparent;
    outline-offset: -1px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;

    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 18px;
    color: #969696;
}

.order-registration__input:last-child {
    margin-bottom: 0;
}


.order-registration__price-wrap {
    margin-bottom: 60px;
    height: auto;

}


.order-registration__price-card-wrap {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}


.order-registration__form-wrap {

    padding: 25px 30px;
    height: auto;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);
    -moz-box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);
    box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);

}



.order-registration__form-table {
    border-collapse: collapse;
    width: 100%;
}

.order-registration__form-heading th {
    padding-bottom: 20px;
    border-bottom: 2px solid #F2E8E8;

    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}

.order-registration__form-product td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F2E8E8;
}

.order-registration__form-product:last-child td{
    border-bottom: none;
    padding-bottom: 0;
}
.order-registration__form-heading-img {
    text-align: left;
}

.order-registration__form-heading-name {
    text-align: left;
}


.order-registration__form-product-img {
    width: 140px;
    padding-right: 20px;
}

.order-registration__form-product-name {
    width: 265px;
    vertical-align: top;
}

.order-registration__form-product-name h3 {
    margin: 0;
    padding-bottom: 15px;

    font-family: "Proxima-Nova";
    font-weight: 400;
    font-size: 18px;
}


.order-registration__form-price {
    display: flex;

}
.order-registration__form-price p {
    margin: 0;
    padding-bottom: 5px;

}

.order-registration__form-price p:last-child {
    padding-bottom: 0px;
}

.order-registration__form-price-info {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    color: #808080;

    margin-right: 15px;

}
.order-registration__form-price-type {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    
}

.order-registration__btn {
    width: 318px;
    height: 67px;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;
    color:#FFFFFF;
    background: #7A1E1E;
    border: none;
}
/* Страница Корзины */

.cart {
    margin-bottom: 60px;
}

.place-order__price {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
    margin: 0;

}

.place-order__price span {
    font-weight: 600;
    font-size: 24px;
}

.place-order__link {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 67px;
    padding-right: 66px;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    
    background: #7A1E1E;
    border: transparent;

}


.cart-order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;


}

.cart-order__form {
    text-align: right;
    width: 318px;
    height: auto;
}

.cart-order__input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.cart-order__wrap-form-input {
    display: flex;
    margin-bottom: 15px;

}

.cart-order__wrap-form-input:last-child {
    margin-bottom: 0;
}

.cart-order__form-input {
    width: 206px;
    height: 35px;
    outline: 1px solid #F2E8E8;
    border: transparent;
    outline-offset: -1px;

    padding-left: 15px;
    padding-right: 15px;

    font-family: "Proxima Nova";
    font-weight: 400r;
    font-size: 14px;
    color: #969696;


}

.cart-order__form-input:last-child {
    margin-bottom: 0;
}

.cart-order__form-btn {
    padding: 0;
    margin: 0;
    width: 112px;
    height: 35px;
    background: #F2E8E8;
    border: transparent;

    font-family: "Proxima Nova";
    font-weight: 400;
    cursor:pointer;

}

.cart-order__link {
    font-family: "Proxima Nova";
    font-weight: 400;
    text-decoration: underline#969696;
}

.cart-form {
    padding: 25px 30px;
   
    height: auto;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);
    -moz-box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);
    box-shadow: 0px 5px 10px 2px rgba(240, 240, 235, 0.45);

}


.cart__name-price {
    display: flex;

}

.cart-form__table {
    border-collapse: collapse;
    width: 100%;
}

.cart-form__heading th {
    padding-bottom: 20px;
    border-bottom: 2px solid #F2E8E8;

    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}

.cart-form__product td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F2E8E8;
}

.cart-form__product:last-child td{
    border-bottom: none;
    padding-bottom: 0;
}
.cart-form__heading-img {
    text-align: left;
}

.cart-form__heading-name {
    text-align: left;
}


.cart-form__product-img {
    width: 140px;
    padding-right: 20px;
}

.cart-form__product-name {
    width: 265px;
    vertical-align: top;
}

.cart-form__product-name h3 {
    margin: 0;
    padding-bottom: 15px;

    font-family: "Proxima-Nova";
    font-weight: 400;
    font-size: 18px;
}

.cart__name-price p {
    margin: 0;
    padding-bottom: 5px;

}

.cart__name-price p:last-child {
    padding-bottom: 0px;
}

.cart__name-price-info {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    color: #808080;

}
.cart__name-price-type {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    
}

.cart-name__product-wrap-btn{
    text-align: center;
}

.cart-name__btn {
    width: 28px;
    height: 28px;
    background: #F2E8E8;
    border: transparent;
    cursor: pointer;

}

.cart-name__btn-img {
    padding-bottom: 4px;
    margin: 0;
   
}
.cart-name__input {
    width: 43px;
    height: 28px;
    outline: 1px solid #F2E8E8;
    border: transparent;
    outline-offset: -1px;
    text-align: center;
    margin: 0 auto;

}

.cart-name__btn-x {
    border: transparent;
    background: #fff;
    cursor: pointer;
}
.cart-name__product-price {
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
}

.cart-name__product-btn {
    text-align: center;
}
